<html>
 <head>
        <meta charset="UTF-8">
        <base href="/">
		
		<title>Configuration Page</title> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.9/angular-material.css">
		
		<script src="node_modules/angular/angular.min.js"></script>
		<script src="node_modules/angular-route/angular-route.min.js"></script> 
		<script src="node_modules/angular-animate/angular-animate.min.js"></script>
		<script src="node_modules/angular-aria/angular-aria.min.js"></script>
		<script src="node_modules/angular-messages/angular-messages.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.9/angular-material.min.js"></script>
		 
		
	<script src="ConfigsCtrl.js"></script>
		<script src="index.html"></script> 
		 
   </head> 
   <body ng-app="sampleApp">
   <script type="text/javascript">
		angular.module('sampleApp', ['ngMaterial', 'ngRoute', 'sampleApp.controllers']);
		</script>
		
		<div ng-cloak layout="column" ng-controller="ConfigsCtrl"> 
			<div>
				<md-content>
					<H3>You're Logged In!</H3>
					<md-button ng-click="isValid()">Show Token</md-button>
					<md-button class="md-raised" ng-click="logout()">Logout</md-button>
					<md-input-container>
						<label>Total Stairs</label>
						<input ng-model="totalStairs" />
					</md-input-container>
					<md-button class="md-raised" ng-click="showStairs()"></md-button>
				</md-content>
			</div>
		</div>
		
	</body>
</html>
  