<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <base href="/">	
		
		<title>Sample Application</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.9/angular-material.css">
		 <link rel="stylesheet" href="styles.css">
		
		<script src="node_modules/angular/angular.min.js"></script>
		<script src="node_modules/angular-route/angular-route.min.js"></script> 
		<script src="node_modules/angular-animate/angular-animate.min.js"></script>
		<script src="node_modules/angular-aria/angular-aria.min.js"></script>
		<script src="node_modules/angular-messages/angular-messages.min.js"></script>
		<script src="node_modules/angular-toastr/dist/angular-toastr.tpls.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.9/angular-material.min.js"></script>
		
		<script src="LoginCtrl.js"></script>
		<!--<script src="configurations.json"></script> -->
    </head>
	<body ng-app="sampleApp" ng-cloak layout="column">
		<script type="text/javascript">
		var sampleApp = angular.module('sampleApp', ['ngMaterial', 'ngRoute', 'sampleApp.controllers']);
		
		</script>
  
	   <div ng-controller="LoginCtrl">   
		<md-content>
			<md-toolbar>
				{{ title }}
			</md-toolbar>
			<H2>Please Login:</H2>
			User:<input ng-model="username"></input>
			Password:<input ng-model="password"></input>
			<md-button class="md-raised" ng-click="login()">Login</md-button>
			<md-button class="md-raised" ng-click="getConfigs()">Get Configs</md-button>
		</md-content>
		</div>
	</body>
</html>


