 
<md-content flex style="background-color: #D4D4D4;">
	<div ng-hide="vm.configs.length > 0">
		<h3>There are no existing configurations to view.</h3>
		<md-button ng-show="vm.adding" class="md-raised" style="background-color: #00A5B5;" ng-click="vm.showAdd()">Add Configuration</md-button>
	</div>
	<md-card ng-if="vm.editing || vm.adding" flex style="background-color: #C4C3C3;">
		<md-card-content flex>
			<md-subheader style="background-color: #C4C3C3;">
				<h2 ng-if="vm.editing">Edit Configuration for User {{ vm.selectedConfig.username }}</h2>
				<h2 ng-if="vm.adding">Add User Configuration</h2>
				<md-divider style="background-color: black;"></md-divider>
			</md-subheader>
			
			<form style="margin: 10px 0 0 15px;">
				<div layout="column" style="margin-left: 15px;">
					<label ng-show="vm.adding"><b>username:</b></label>
					<md-input-container  ng-show="vm.adding">
						<input aria-label="username" ng-model="vm.selectedConfig.username" />
					</md-input-container>
					<label><b>name:</b></label>
					<md-input-container>
						<input aria-label="name" ng-model="vm.selectedConfig.name" />
					</md-input-container>
					<label><b>hostname:</b></label>
					<md-input-container>
						<input aria-label="hostname" ng-model="vm.selectedConfig.hostname" />
					</md-input-container>
					<label><b>port:</b></label>
					<md-input-container>
						<input aria-label="port" ng-model="vm.selectedConfig.port" />
					</md-input-container>
				</div>
			</form>
			<div layout="row">
				<md-button class="md-raised" style="background-color: #00A5B5;" ng-click="vm.cancelEdit()">Cancel</md-button>
				<md-button ng-show="vm.editing" class="md-raised" style="background-color: #00A5B5;" ng-click="vm.deleteConfig()">Delete</md-button>
				<md-button ng-show="vm.editing" class="md-raised" style="background-color: #00A5B5;" ng-click="vm.updateConfig()">Update</md-button>
				<md-button ng-show="vm.adding" class="md-raised" style="background-color: #00A5B5;" ng-click="vm.addConfig()">Add</md-button>
			</div>
		</md-card-content>
	</md-card>
 
	<div ng-show="vm.configs.length > 0" flex  style="background-color: #D4D4D4;">
		<md-list>
			<md-subheader style="background-color: #D4D4D4;"><h3>Configurations</h3></md-subheader>
			<div layout="row" flex>
				<span flex style="background-color: #D4D4D4;"><md-button  ng-click="vm.sort('name')"><b>Name</b></md-button></span>
				<span flex style="background-color: #D4D4D4;"><md-button  ng-click="vm.sort('hostname')"><b>Host Name</b></md-button></span>
				<span flex style="background-color: #D4D4D4;"><md-button  ng-click="vm.sort('port')"><b>Port</b></md-button></span>
				<span flex style="background-color: #D4D4D4;"><md-button  ng-click="vm.sort('username')"><b>User Name</b></md-button></span>
			</div>
			<md-list-item ng-if="vm.configs.length > 0" ng-click="vm.editConfig(config)" ng-repeat="config in vm.configs">
				<div layout="column" flex layout-align="center">
					<div layout="row" flex>
						<span  flex>{{ config.name }}</span>
						<span flex>{{ config.hostname }}</span>
						 <span flex>{{ config.port }} </span>
						 <span flex>{{ config.username }}</span>
					</div>
				</div>
				<md-divider></md-divider>
			</md-list-item>
		</md-list>
	</div>
	<md-button class="md-raised" style="background-color: #00A5B5;" ng-click="vm.showAdd()">Add new user config</md-button>
</md-content>
<span flex>	<md-button class="md-raised" style="background-color: #00A5B5;" ng-disabled="page===1" ng-click="vm.getPrev()">Prev</md-button></span>
<span>Page: {{ page }}</span>
<span><md-button class="md-raised" style="background-color: #00A5B5;" ng-click="vm.getNext()" ng-disabled="totalDisplayed >= vm.totalConfigs">Next</md-button></span>
