<md-content>
	 <div ng-hide="showConfigs">
         <md-button ng-click="vm.showCameraRoll()">Show Camera Roll - camera1</md-button>
		 <md-button ng-click="vm.showCameraRoll1()">Show Camera Roll - imagePicker1</md-button>
		 
		 
         <div ng-show="images.length > 0" ng-repeat="image in vm.images">
             Image: {{ image }}
        </div>
		<!--<H2>Please Login:</H2>
		User: <input ng-model="vm.username"></input>
		Password: <input type="password" ng-model="vm.password"></input>
		<md-button class="md-raised" style="background-color: #00A5B5;" ng-click="vm.login()">Login</md-button> -->
	</div>
</md-content>