<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://fonts.googleapis.com/  data: gap: https://ssl.gstatic.com 'unsafe-eval';
            style-src 'self' https://fonts.googleapis.com/ 'unsafe-inline'; font-src https://fonts.gstatic.com/; media-src *; connect-src 'self' http://192.168.1.109:8888/">
            <meta name="format-detection" content="telephone=no">
            <meta name="msapplication-tap-highlight" content="no">
            <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
                        
            <link rel="stylesheet" href="./css/angular-material.min.css" type="text/css">
            <link rel="stylesheet" href="./css/loading-bar.css" type="text/css">
            <link rel="stylesheet" href="./css/styles.css" type="text/css">
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			<link rel="stylesheet" href="./css/lf-ng-md-file-input.css">
            <title>Photo Dash</title>
    </head>
    <body ng-app="photoSaverApp">
    
    
        <div ng-controller="MainCtrl as vm">
        
        <div id="errorMsg"></div>
            <md-content flex>
                <div class="overlayColor" ng-show="vm.inProgress"></div>
                <md-toolbar class="md-whiteframe-z1">
                    <div class="md-toolbar-tools" layout="row">
                        <h3>Photo Dash</h3>
                        <span flex></span>
                    </div>
                </md-toolbar>
              <!--  <md-button ng-show="album.length > 0" class="md-raised" ng-disabled="vm.inProgress" ng-click="vm.clear()">Clear</md-button>
                <md-button ng-show="album.length > 0" class="md-raised"ng-disabled="vm.inProgress" ng-click="vm.submitPhotos()">Send</md-button>
                <md-button ng-show="album.length > 0" class="md-raised"ng-disabled="vm.inProgress" ng-click="vm.submitPhotos2()">Send2</md-button>
                <md-button class="md-raised"ng-disabled="vm.inProgress" ng-click="vm.takePicAndSend()">take and send</md-button>-->
				<lf-ng-md-file-input lf-files='files' multiple preview>md-select-multiple</lf-ng-md-file-input>
                <md-button class="md-raised" ng-click="submit()">submit from lf-md-mg selection</md-button>
                
				<div ng-show="album.length > 0" ng-repeat="photo in album" flex>
                    <!--<canvas id="canvas{{photo.index}}" flex="75"></canvas>-->
					<input type='file' file-model='vm.imageFile'/>
					<button ng-click="vm.uploadFile()">upload it!</button>

<!--					<canvas id="canvas{{photo.index}}" style="width: 70%; height: 70%;" flex></canvas> -->			

			<!--<md-icon ng-show="vm.totalSent >= {{photo.index}} + 1" style="color=green;" class="material-icons">done</md-icon>
                <md-icon style="color: green;" flex="25" class="material-icons">done</md-icon>-->
                
				</div>
            </md-content>
        </div>
        <script src="./js/requirements.js" type="text/javascript"></script> 
        <script src="./cordova.js" type="text/javascript"></script>        
        <script src="./js/controllers.js" type="text/javascript"></script>        
        <script src="./js/app.js" type="text/javascript"></script>
    </body>
</html>
