<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <base href="/user-configurations">	
		
		<title>User Configurations</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.9/angular-material.css">
		 <link rel="stylesheet" href="src/styles.css">
		
		<script src="node_modules/angular/angular.min.js"></script>
		<script src="node_modules/angular-route/angular-route.min.js"></script> 
		<script src="node_modules/angular-animate/angular-animate.min.js"></script>
		<script src="node_modules/angular-aria/angular-aria.min.js"></script>
		<script src="node_modules/angular-messages/angular-messages.min.js"></script>
		<script src="node_modules/angular-toastr/dist/angular-toastr.tpls.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.9/angular-material.min.js"></script>
		
		<script src="src/ConfigurationCtrl.js"></script> 
    </head>
	<body ng-app="sampleApp" ng-cloak style="background-color:#d4d4d4;">
		<script type="text/javascript">
			var sampleApp = angular.module('sampleApp', ['ngMaterial', 'ngRoute', 'sampleApp.controllers']);
			sampleApp.config(function ($locationProvider) {
				$locationProvider.html5Mode(true);
			});
		</script>
	 <div ng-controller="ConfigurationCtrl">
	 <md-toolbar style="background-color: #00A5B5;" layout="row">
		<div layout="column" layout-align="center" flex>
			{{ title }}
		</div>
		<div layout="column" layout-align="center end" flex>
			<md-button class="md-raised" style="background-color: #1867BB; margin-right: 30px" ng-click="logout()">Logout</md-button>
		</div>
	</md-toolbar>
	 <md-content flex style="background-color: #D4D4D4;">
		<md-card ng-if="selectedConfig" flex style="background-color: #C4C3C3;">
			<md-card-content flex>
				<h3>Edit Configuration</h3>
				<form>
					<div layout="column">
						<label>name</label>
						<md-input-container>
							<input aria-label="name" ng-model="selectedConfig.name" />
						</md-input-container>
						<label>hostname</label>
						<md-input-container>
							<input aria-label="hostname" ng-model="selectedConfig.hostname" />
						</md-input-container>
						<label>port</label>
						<md-input-container>
							<input aria-label="port" ng-model="selectedConfig.port" />
						</md-input-container>
						<label>username</label>
						<md-input-container>
							<input aria-label="username" ng-model="selectedConfig.username" />
						</md-input-container>
					
					</div>
				</form>
				<div layout="row">
					<md-button ng-click="cancelEdit()">Cancel</md-button>
					<md-button ng-click="deleteConfig()">Delete</md-button>
					<md-button ng-click="updateConfig()">Update</md-button>
				</div>
			</md-card-content>
		</md-card>
	 
		<div ng-show="configs.length > 0" flex  style="background-color: #D4D4D4;">
				<md-list>
					<md-subheader  style="background-color: #D4D4D4;"><h3>Configurations</h3></md-subheader>
									<md-list-item ng-if="configs.length > 0" ng-click="editConfig(config)" ng-repeat="config in configs">
							 <p> {{ config.name }}</p>
							 <p>{{ config.hostname }}</p>
							 <p>{{ config.port }}</p>
							 <p>{{ config.username }}</p>
						<md-divider></md-divider>
					</md-list-item>
				</md-list>
			
		</div>
		 </md-content>
		 </div>
	</body>
</html>


